@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@media screen and (min-width: 580.1px) and (max-width: 770px){

    *{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    #home{
        width: 100%;
    }

    /* Header */
    #header{
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        color: black;
        background-color: #535353;
    }

    #logo{
        width: 60px;
        height: 60px;
        padding: 6px 10px 0 10px;
        border-radius: 50%;
        background-color: white;
    }

    #logo img{
        width: 100%;
    }

    #title{
        font-size: 22px;
        padding: 36px 0 0 0;
        font-family: 'Lobster', cursive;
        color: white;
    }
    
    #descriptionHead{
        font-size: 20px;
        padding: 41px 0 0 0;
        color: white;
    }


    /*SecondNavbar */
    #secondNavbar{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        color: #535353;
        padding: 15px 25px 15px;
        border-bottom: 1px solid #535353;
    }

    #telephone{
        width: 70%;
        font-size: 19px;
    }

    #telNumber{
        text-decoration: none;
        color: #535353;
        font-weight: 600;
    }

    #homeSI{
        width: 30%;
        display: flex;
    }

    #homeSI li:last-child{
        padding: 0 0 0 10px;
    }

    #homeSI a{
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px 7px 7px 9px;
        color: black;
        background: white;
    }


    /* Section */
    section{
        width: 100%;
        padding: 40px 13% 70px 13%;
    }


    #loginNot{
        font-size: 20px;
        text-align: center;
        background-color: firebrick;
        color: white;
        padding: 20px;
        border-radius: 10px;
        margin: 0 0 30px 0;

    }

    section form{
        background-color: #535353;
        padding: 40px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    form label{
        font-size: 22px;
        color: white;
    }

    form input{
        width: 100%;
        height: 40px;
        padding: 7px;
        font-size: 20px;
        margin: 0 0 25px 0;
    }

    form button{
        width: 100%;
        height: 40px;
        font-size: 20px;
        border: none;
        border-radius: 7px;
        background-color: #21d500;
        transition: all 1s;
    }

    form button:hover{
        background-color: green;
        color: white;
    }


    /* Footer */

    footer{
        width: 100%;
        height: 220px;
        border-top: 1px solid #535353;
    }

    #footerTop{
        width: 100%;
        height: 190px;
        display: flex;
        justify-content: space-between;
        padding: 7px;
        font-size: 17px;
    }

    #footerLeft{
        width: 100%;
        height: 100%;
        padding: 20px 0 0 20px;
    }

    #footerTitle{
        font-size: 22px;
        font-family: 'Lobster', cursive;
    }

    #description{
        font-size: 17px;
        font-style: italic;
    }

    #socialIcons{
        display: flex;
        padding: 20px 0 0 0;
    }

    #socialIcons li a{
        text-decoration: none;
        padding:  0 8px 0 0;
        color: black;
    }


    #footerMenu{
        width: 100%;
        height: 100%;
        padding: 20px 0 0 0;
    }

    #footerMenu li a{
        display: block;
        text-decoration: none;
        color: black;
        transition: all 1s;
    }

    #footerMenu li a:last-child{
        padding-top: 7px;
    }

    #footerMenu li a:hover{
        color: #e80000;
    }

    #contact{
        width: 100%;
        height: 100%;
        padding: 20px 0 0 0;
    }

    #contact a{
        display: block;
        cursor: pointer;
        transition: all 1s;
    }

    #contact a:hover{
        color: #e80000;
    }

    #mail{
        padding-top: 7px;
    }

    #location{
        padding-top: 7px;
    }

    #footerBottom{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        padding: 8px 20px;
        font-size: 20px;
        border-top: 1px solid #535353;
    }

    #designer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
    }

    #designer a{
        padding: 0 0 0 10px;
        text-decoration: none;
    }

    #year{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
    }
}